<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>

    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#source').geocomplete();
        $('#destination').geocomplete();
      });
    </script>
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <div class="container body-content">
      <div class="interal_div">
        <div class="choose_pick">
          <%= yield %>
        </div>
      </div>
    </div>
      <%#= render 'layouts/footer' %>
  </body>
</html>
